<div id="asociados" class="asociados view">
  <br>
  <div class="row">
     <div class="large-8 columns">
       <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
             <li><a [routerLink]="['/Home']">Inicio</a></li>
             <li><a [routerLink]="['/Asociados']">Asociados</a></li>
             <li>
                <span class="show-for-sr">Actual: </span> {{asociado.nombre}}
             </li>
          </ul>
       </nav>
     </div>
  </div>
  <div class="row">
    <div class="row foo" data-equalizer data-equalize-by-row="true">
      <div class="medium-6 columns bar" data-equalizer-watch="">
        <div class="imagen">
          <img class="thumbnail" src="../app/img/{{image}}">
        </div>
        <div class="small-4 small-centered columns" style="display:block;padding:1em;">
          <span class="small secondary hollow button" (click)="changeAnt()"><i class="mdi mdi-arrow-left"></i></span>
          <span class="small secondary hollow button" (click)="changeNext()"><i class="mdi mdi-arrow-right"></i></span>
        </div>
         <div class="row small-up-4 grid-cerveza">
            <div class="column" *ngFor="#imagen of imagenes">
               <img class="thumbnail" src="../app/img/{{imagen}}" (click)="setImage(imagen)">
            </div>
         </div>
      </div>
      <div class="medium-6 large-5 columns bar" data-equalizer-watch="">
         <h3><i class="mdi mdi-beer"></i> {{asociado.nombre}}</h3>
         <div class="row">
           <div class="small-3 small-centered columns" style="border-bottom: 3px solid #5e5303;"></div>
         </div>
         <p>{{asociado.texto}} <br><br>
           <i class="mdi mdi-email"></i> <a href="mailto:{{asociado.contacto.correo}}" target="_blank">{{asociado.contacto.correo}}</a>
           <br><br>
           <i class="mdi mdi-phone"></i> <span>{{asociado.contacto.telefono}}</span>
           <br><br>
           <i class="mdi mdi-map-marker-radius"></i> <span>Dirección próximamente</span>
         </p>
         <div class="row">
           <div class="large-6 large-centered social">
             <span class="hollow button"><i class="mdi mdi-facebook"></i></span>
             <span class="hollow button"><i class="mdi mdi-twitter"></i></span>
             <span class="hollow button"><i class="mdi mdi-email-outline"></i></span>
           </div>
      </div>
      <div class="row">
        <!-- <div id="owl-demo" class="owl-demo">
          <div class="item" *ngFor="#imagen of imagenes">
             <img class="thumbnail" src="../app/img/{{imagen}}" alt="" (click)="setImage(imagen)" />
          </div>
        </div> -->
        <!-- <div class="row small-up-4 grid-cerveza">
           <div class="column" *ngFor="#imagen of imagenes">
              <img class="thumbnail" src="../app/img/{{imagen}}" (click)="setImage(imagen)">
           </div>
        </div> -->
      </div>
    </div>
  </div>
  <hr>
  <div class="row bar1">
   <div class="row">
     <div class="large-10 large-centered columns" >
       <h4><i class="mdi mdi-qrcode-scan"></i> Productos Similares</h4>
        <div class="row small-up-1 medium-up-4 large-up-6 grid-cerveza-similar" data-equalizer data-equalize-by-row="true">
           <div class="column callout" *ngFor="#asoc of asociados" data-equalizer-watch="" style="height:320px;">
              <img class="thumbnail" src="../app/img/{{asoc.logo}}">
              <p class="show-for-medium">{{asoc.texto.substr(0,70)}}...</p>
              <p class="show-for-small-only">{{asoc.texto.substr(0,110)}}...</p>
              <a [routerLink]="['/Asociado',{id: asoc.id}]" class="button hollow tiny expanded">Ver más...</a>
           </div>
        </div>
     </div>
   </div>
   <hr>
   <div class="row">
     <div class="large-10 large-centered columns" >
        <h4><i class="mdi mdi-comment-text-outline"></i> Comentarios</h4>
        <disqus [shortname]="'cerarmich'" [identifier]="identifier"></disqus>
     </div>
   </div>
  </div>
  <br><br>
</div>
