<div class="principal">
  <div class="expanded row">
    <div class="presentacion">
      <img class="show-for-large" src="../app/img/v3/extra/Lay13.jpg" alt="Owl Image">
      <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay13.jpg" alt="Owl Image">
      <img class="show-for-small-only" src="../app/img/v3/small/Lay13.jpg" alt="Owl Image">
    </div>
  </div>
</div>

<div class="asociados">
  <br>
  <div class="row">
    <div class="large-6 large-centered columns selector">
      <label><span>Seleccionar Asociado</span>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
        </div>
        <br>
        <asociado-select (select)="status = $event"></asociado-select>
      </label>
    </div>
  </div>

  <div class="expanded row asoc1">
    <asociado-list [status]="status"></asociado-list>
  </div>
</div>
