<section class="principal">
  <div class="menu-head">
    <app-header></app-header>
  </div>
  <div class="container">
    <h1>SoWat</h1>
    <h2>Agencia desarrolladora de marcas</h2>
    <h3>de Pymes Mexicanas</h3>
  </div>
  <div class="image"></div>
</section>

<!-- Promo -->
<section class="bienvenida">
  <div class="expanded row grid-us">
    <div class="large-3 medium-6 column">
      <div class="callout"  >
        <img src="../app/img/img-web/4.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 column">
      <div class="callout"  >
        <div class="text">
          <p class="title">
            Te invitamos a ingresar a nuestro espacio
          </p>
          <p class="description">
            tenemos promociones y grandes descuentos esperando por ti.
          </p>
          <p class="banner"><span>Bienvenido</span></p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 medium-push-6 large-push-0 column">
      <div class="callout"  >
        <img src="../app/img/img-web/2.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 medium-pull-6 large-pull-0 column">
      <div class="callout"  >
        <div class="text">
          <p class="title">
            Queremos conocerte, te invitamos a ponerte en contacto con nosotros.
          </p>
          <p class="banner"><span>Bienvenido</span></p>
        </div>
      </div>
    </div>
  </div>
<!-- Quien somos -->
  <div class="expanded row who-we-are">
    <div class="large-8 large-centered column">
      <div class="text">
        <h1>¿Qué es SoWat?</h1>
        <p>Somos una agencia desarrolladora de marcas especializada en atender necesidades de promoción de Pymes mexicanas.<br/><br/>
        Brindamos servicios profesionales bajo un esquema de inversión accesible para aquellas empresas de reciente creación o en vías de desarrollo.
        </p>
        <br><br>
        <h3>
          Servicios
        </h3>
      </div>
    </div>
  </div>
<!-- Servicios -->
  <div class="expanded row grid-us-3">
    <div class="large-3 medium-6 column">
      <div class="callout"  >
        <img src="../app/img/img-web/1b.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 column">
      <div class="callout"  >
        <div class="text">
          <p class="title"> Diseño de imagen corporativa </p>
          <p class="banner"><span>Servicios</span></p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 medium-push-6 large-push-0 column">
      <div class="callout"  >
        <img src="../app/img/img-web/1c.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 medium-pull-6 large-pull-0 column">
      <div class="callout"  >
        <div class="text">
          <p class="title">Desarrollo de estrategia de marketing</p>
          <p class="banner"><span>Servicios</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded row grid-us-3">
    <div class="large-3 medium-6 large-push-3 column">
      <div class="callout"  >
        <img src="../app/img/img-web/1d.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 large-pull-3 column">
      <div class="callout"  >
        <div class="text">
          <p class="title"> Publicidad digital e impresa </p>
          <p class="banner"><span>Servicios</span></p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 medium-push-6 large-push-3 column">
      <div class="callout"  >
        <img src="../app/img/img-web/negocios.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 medium-pull-6 large-pull-3 column">
      <div class="callout"  >
        <div class="text">
          <p class="title">Representación comercial y networking</p>
          <p class="banner"><span>Servicios</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded row grid-us-3">
    <div class="large-3 medium-6 column">
      <div class="callout"  >
        <img src="../app/img/img-web/1f.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 column">
      <div class="callout"  >
        <div class="text">
          <p class="title">Enlace Negocio - Negocio (B2B)</p>
          <p class="banner"><span>Servicios</span></p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 medium-push-6 large-push-0 column"  >
      <div class="callout"  >
        <img src="../app/img/img-web/movil.jpg" alt="" />
      </div>
    </div>
    <div class="large-3 medium-6 medium-pull-6 large-pull-0 column"  >
      <div class="callout"  >
        <div class="text">
          <p class="title">Desarrollo web (Multiplataforma)</p>
          <p class="banner"><span>Servicios</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded row grid-us-2">
    <div class="large-6 column">
      <div class="callout">
        <img src="../app/img/img-web/portafolio.jpg" alt="" />
      </div>
    </div>
    <div class="large-6 column">
      <div class="callout">
        <div class="text">
          <p class="title">
            !Dale un vistazo a nuestro trabajo!
          </p>
          <p align="center">
            <button class="hollow button" href="#">ver más</button>
          </p>
          <p class="banner"><span>Portafolio</span></p>
        </div>
      </div>
    </div>
  </div>
<!-- Clientes -->
  <div class="expanded row who-we-are">
    <div class="large-8 large-centered column">
      <div class="text">
        <h3>Clientes que confiaron en nosotros</h3>
      </div>
    </div>
  </div>
  <div class="row small-up-2 medium-up-3 large-up-5 clientes" data-equalizer data-equalize-by-row="true" data-events="resize">
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/1.jpg" alt="" />
    </div>
  </div>
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/2.png" alt="" />
    </div>
  </div>
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/3.png" alt="" />
    </div>
  </div>
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/4.png" alt="" />
    </div>
  </div>
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/5.jpg" alt="" />
    </div>
  </div>
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/6.jpg" alt="" />
    </div>
  </div>
  <div class="column">
    <div class="callout" data-equalizer-watch="" style="height: 75px;">
      <img src="../app/img/logo-clientes/7.png" alt="" />
    </div>
  </div>
</div>
<div class="expanded row who-we-are">
  <div class="large-8 large-centered column">
    <button class="expanded hollow button" href="#">ver lista de clientes <i class="mdi mdi-arrow-right"></i></button>
  </div>
</div>
<!-- Socios -->
<div class="expanded row who-we-are">
  <div class="large-8 large-centered column">
    <div class="text">
      <h1>Socios</h1>
    </div>
  </div>
</div>
<div class="row small-up-2 medium-up-3 large-up-5 clientes" data-equalizer data-equalize-by-row="true" data-events="resize">
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/1.jpeg" alt="" />
  </div>
</div>
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/2.png" alt="" />
  </div>
</div>
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/3.png" alt="" />
  </div>
</div>
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/4.jpg" alt="" />
  </div>
</div>
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/5.jpg" alt="" />
  </div>
</div>
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/6.jpg" alt="" />
  </div>
</div>
<div class="column">
  <div class="callout" data-equalizer-watch="" style="height: 75px;">
    <img src="../app/img/logo-socios/7.png" alt="" />
  </div>
</div>
</div>
<div class="expanded row who-we-are">
  <div class="large-8 large-centered column">
    <button class="expanded hollow button" href="#">ver lista de socios <i class="mdi mdi-arrow-right"></i></button>
  </div>
</div>

</section>
