<section class="principal">
  <div class="menu-head">
    <app-header></app-header>
  </div>
  <div class="container">
    <h2>Agencia desarrolladora de marcas</h2>
    <h3>de Pymes Mexicanas</h3>
  </div>
  <div class="image"></div>
</section>

<!-- <section class="bienvenida">
  <div class="expanded row small-up-1 medium-up-2 large-up-4 grid-1" data-equalizer data-equalize-by-row="true" data-events="resize">
    <article class="column" >
      <div class="callout img" data-equalizer-watch="" >
        <img src="../app/img/img-web/4.jpg" alt="" />
      </div>
    </article>
    <article class="column" >
      <div class="callout text" data-equalizer-watch="" >
        <p>
          Te invitamos a ingresar a nuestro espacio de promociones, tenemos grandes descuentos esperando por ti.
        </p>
        <p><span>Bienvenida</span></p>
      </div>
    </article>
    <article class="column" >
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/2.jpg" alt="" />
      </div>
    </article>
    <article class="column" >
      <div class="callout text" data-equalizer-watch="" >
        <p>
          Queremos conocerte, te invitamos a ponerte en contacto con nosotros.
        </p>
        <h3>Bienvenida</h3>
      </div>
    </article>
  </div>

  <div class="expanded row small-up-1 medium-up-2 grid-2" data-equalizer data-equalize-by-row="true">
    <article class="column"  >
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/10.jpg" alt="" />
      </div>
    </article>
    <article class="column "  >
      <div class="callout text" data-equalizer-watch="" >
        <p>
          <a href="#">!Dale un vistazo a nuestro trabajo!</a>
        </p>
        <h3>Portafolio</h3>
      </div>
    </article>
  </div>

  <div class="expanded row small-up-1 medium-up-2 large-up-4 grid-3" data-equalizer data-equalize-by-row="true">
    <article class="column"  >
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/1b.jpg" alt="" />
      </div>
    </article>
    <article class="column"  >
      <div class="callout text" data-equalizer-watch="" >
        <p> Diseño de imagen corporativa </p>
        <h3>Servicios</h3>
      </div>
    </article>

    <article class="column"  >
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/1c.jpg" alt="" />
      </div>
    </article>
    <article class="column"  >
      <div class="callout text" data-equalizer-watch="" >
        <p>Desarrollo de estrategia de marketing</p>
        <h3>Servicios</h3>
      </div>
    </article>

    <article class="column"  >
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/1a.jpg" alt="" />
      </div>
    </article>
    <article class="column"  >
      <div class="callout text" data-equalizer-watch="" >
        <p>Desarrollo web (Multiplataforma)</p>
        <h3>Servicios</h3>
      </div>
    </article>
  </div>

  <div class="expanded row">
    <article class="large-8 large-centered column">
      <div class="">
        <p>¿Qué es SoWat?</p>
        <p>Somos una agencia desarrolladora de marcas especializada en atender necesidades de promoción de Pymes mexicanas.<br/><br/>
        Brindamos servicios profesionales bajo un esquema de inversión accesible para aquellas empresas de reciente creación o en vías de desarrollo.
        </p>
      </div>
    </article>
  </div>
</section> -->


<section class="bienvenida">
  <div class="expanded row small-up-1 medium-up-2 large-up-4 grid-us" data-equalizer data-equalize-by-row="true" data-events="resize">
    <article class="column">
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/4.jpg" alt="" />
      </div>
    </article>
    <article class="column">
      <div class="callout" data-equalizer-watch="" >
        <div class="text">
          <p>
            Te invitamos a ingresar a nuestro espacio de promociones, tenemos grandes descuentos esperando por ti.
          </p>
          <p><span>Bienvenida</span></p>
        </div>
      </div>
    </article>
    <article class="column">
      <div class="callout" data-equalizer-watch="" >
        <img src="../app/img/img-web/2.jpg" alt="" />
      </div>
    </article>
    <article class="column">
      <div class="callout" data-equalizer-watch="" >
        <div class="text">
          <p>
            Queremos conocerte, te invitamos a ponerte en contacto con nosotros.
          </p>
          <h3>Bienvenida</h3>
        </div>
      </div>
    </article>
  </div>
</section>
