@mixin asoc-1 {
  .asociados{
    .selector{
      span{
        font-family: 'PT Sans', sans-serif;
        font-size: 1.9rem;
        text-align: center;
        color: black;
        border-bottom: 3px solid #CC9029;
      }
    }
    .asoc1{
      padding: 0em;
      .callout{
        border: none;
      }
      .name{
        padding: 2em 1em;
        h3{
          font-family: 'PT Sans', sans-serif;
          font-size: 1.9rem;
          text-align: center;
          color: black;
          border-bottom: 4px solid #CC9029;
        }
      }
      .foo{
        border: 0px solid #EBEBEB;
        box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
        height: auto;
      }
      .bar{
        height: auto;
      }
      img{
        width: 100%;
        height: 35vh;
      }
      .title{
        font-family: 'PT Sans', sans-serif;
        font-size: 1.9rem;
        text-align: center;
        color: black;
        border-bottom: 3px solid #CC9029;
        i{
          font-size: 1.4rem;
        }
      }
      .description{
        padding: 0.7em 0;
        text-align: justify;
        font-size: 1.1rem;
        font-weight: 200;
        i{
          font-size: 1.4rem;
        }
      }
      .descriptions{
        padding: 1.5em 0 0em 0em;
        font-size: 1.1rem;
        font-weight: 200;
        a{
          color: #281c08;
          &:hover{
            color: #CC9029;
          }
        }
      }
    }
  }
  .view{
    a{
      color: #5e5303;
      &:hover{
        color: #CC9029;
      }
    }
    .button.hollow {
        border: 1px solid #5e5303;
        color: #5e5303;
      &:hover{
        border: 1px solid #CC9029;
        color: #CC9029;
      }
    }
    .social{
      span{
        cursor: pointer;
        font-size: 1rem;
      }
    }
    .bar1{
      padding: 1.5em;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
    }
    .bar{
      height: 785;
    }
    .foo{
      padding: 1em;
      // background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      h3{
        font-family: 'PT Sans', sans-serif;
        font-size: 2rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #5e5303;
        i{
          font-size: 1.4rem;
        }
      }
      p{
        padding: 1em;
        font-size: 1.1rem;
        color: #424242;
        i{
          font-size: 1.6rem;
        }
      }
      .owl-demo .item{
        margin: 3px;
      }
      .owl-demo .item img{
        display: block;
        width: 104px;
        height: 83px;
      }
    }
    .imagen{
      width: auto;
      height: auto;
    }
    .grid-cerveza{
      img{
        width: 64px;
        height: 43px;
      }
    }
    .grid-cerveza-similar{
      padding: 0em 1em 0em 3em;
      .callout{
        border: none;
      }
      img{
        width: 189px;
        height: 158px;
      }
    }
  }
}

@mixin asoc-2 {
  .asociados{
    .selector{
      span{
        font-family: 'PT Sans', sans-serif;
        font-size: 2.2rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
      }
    }
    .asoc1{
      padding: 0em;
      .callout{
        border: none;
      }
      .name{
        padding: 3em 1em;
        h3{
          font-family: 'PT Sans', sans-serif;
          font-size: 2.2rem;
          text-align: center;
          color: black;
          border-bottom: 4px solid #CC9029;
        }
      }
      .foo{
        border: 0px solid #EBEBEB;
        box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
        height: 960px;
      }
      .bar1{
        height: 480px;
      }
      .bar{
        height: 430px;
      }
      img{
        width: 100%;
        height: 40vh;
      }
      .title{
        font-family: 'PT Sans', sans-serif;
        font-size: 2.1rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
        i{
          font-size: 1.4rem;
        }
      }
      .description{
        padding: 0.7em 0;
        text-align: justify;
        font-size: 1.2rem;
        font-weight: 200;
        i{
          font-size: 1.6rem;
        }
      }
      .descriptions{
        padding: 3em 0 0em 1em;
        font-size: 1.1rem;
        font-weight: 200;
        a{
          color: #281c08;
          &:hover{
            color: #CC9029;
          }
        }
      }
    }
  }
  .view{
    a{
      color: #5e5303;
      &:hover{
        color: #CC9029;
      }
    }
    .button.hollow {
        border: 1px solid #5e5303;
        color: #5e5303;
      &:hover{
        border: 1px solid #CC9029;
        color: #CC9029;
      }
    }
    .social{
      span{
        cursor: pointer;
        font-size: 1rem;
      }
    }
    .bar1{
      padding: 1.5em;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
    }
    .bar{
      height: 785;
    }
    .foo{
      padding: 1em;
      // background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      h3{
        font-family: 'PT Sans', sans-serif;
        font-size: 2rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #5e5303;
        i{
          font-size: 1.4rem;
        }
      }
      p{
        padding: 1em;
        font-size: 1.1rem;
        color: #424242;
        i{
          font-size: 1.6rem;
        }
      }
      .owl-demo .item{
        margin: 3px;
      }
      .owl-demo .item img{
        display: block;
        width: 104px;
        height: 83px;
      }
    }
    .imagen{
      width: auto;
      height: auto;
    }
    .grid-cerveza{
      img{
        width: 64px;
        height: 43px;
      }
    }
    .grid-cerveza-similar{
      p{
        font-size: 0.8em;
        color: #424242;
      }
      .callout{
        border: none;
      }
      img{
        width: 189px;
        height: 108px;
      }
    }
  }
}

@mixin asoc-3 {
  .asociados{
    .selector{
      span{
        font-family: 'PT Sans', sans-serif;
        font-size: 2.6rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
      }
    }
    .asoc1{
      padding: 2.7em;
      .callout{
        border: none;
        background: none;
      }
      .name{
        padding: 4em 1em;
        h3{
          font-family: 'PT Sans', sans-serif;
          font-size: 2.6rem;
          text-align: center;
          color: black;
          border-bottom: 4px solid #CC9029;
          text-shadow: 2px 8px 6px rgba(0,0,0,0.4),
                 0px -5px 35px rgba(255,255,255,0.4);
          i{
            font-size: 0.8em;
          }
        }
      }
      .foo{
        border: 0px solid #EBEBEB;
        background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
        box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
        height: 960px;
      }
      .bar1{
        height: 480px;
      }
      .bar{
        height: 430px;
      }
      img{
        width: 100%;
        height: 48vh;
      }
      .title{
        font-family: 'PT Sans', sans-serif;
        font-size: 2.6rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
        i{
          font-size: 1.4rem;
        }
      }
      .description{
        padding: 1.5em;
        text-align: justify;
        font-size: 1.1rem;
        color: #424242;
        i{
          font-size: 1.6rem;
        }
      }
      .descriptions{
        padding:3em 0 0em 3em;
        font-size: 1.4rem;
        font-weight: 200;
        a{
          color: #281c08;
          &:hover{
            color: #CC9029;
          }
        }
      }
    }
  }
  .view{
    a{
      color: #5e5303;
      &:hover{
        color: #CC9029;
      }
    }
    .button.hollow {
        border: 1px solid #5e5303;
        color: #5e5303;
      &:hover{
        border: 1px solid #CC9029;
        color: #CC9029;
      }
    }
    .social{
      span{
        cursor: pointer;
        font-size: 1rem;
      }
    }
    .bar1{
      padding: 1.5em;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
    }
    .bar{
      height: 785;
    }
    .foo{
      padding: 1.5em;
      // background-image: linear-gradient(to bottom,#FFFFFF,#fbfbfb);
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      h3{
        font-family: 'PT Sans', sans-serif;
        font-size: 2.2rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #5e5303;
        i{
          font-size: 1.4rem;
        }
      }
      p{
        padding: 1.5em 1em 1em 2em;
        font-size: 1.1rem;
        color: #424242;
        i{
          font-size: 1.6rem;
        }
      }
      .owl-demo .item{
        margin: 3px;
      }
      .owl-demo .item img{
        display: block;
        width: 104px;
        height: 83px;
      }
    }
    .imagen{
      width: 562px;
      height: 587px;
    }
    .grid-cerveza{
      img{
        width: 104px;
        height: 83px;
      }
    }
    .grid-cerveza-similar{
      img{
        width: 189px;
        height: 108px;
      }
    }
  }
}
