@mixin footer-4 {
  .foot {
    background: black;
    color: white;
    border-top: 12px solid #d3d3d3;
    border-left: 12px solid #d3d3d3;
    // border-bottom: 12px solid #d3d3d3;
    padding: 1em;
    .redes{
      li {
        display: inline;
      }
      img {
        width: 56px;
        height: 56px;
      }
    }
    .title{
      font-weight: 600;
      font-size: 1.3em;
      font-family: 'PT Sans', sans-serif;
    }
    .description{
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      padding-left: 1em;
    }
  }
}
