@mixin intro {

}

@mixin home-1 {
  .principal{
    position: relative;
    background-color: #1f2738;
    height: 600px;
    max-height: 600px;
    min-height: 380px;
    text-align: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    .image{
      background-image: url("../img/hero-home-xl.jpg");
      filter: blur(5px);
      height: 600px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .menu-head{
      position: absolute;
      margin: 0;
      width: 100%;
      z-index: 999;
    }
    .container {
      color: white;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      text-align: left;
      position: relative;
      z-index: 2;
      h2{
        font-family: 'Raleway', sans-serif;
        font-size: 3.5em;
      }
    }
  }
  .bienvenida{
    .grid-us{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 280px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #1BCE7C;
            color: white;
            padding: 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-2{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          color: #273138;
          height: 300px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #eff7f9;
            padding: 2em;
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white;
            }
            span{
              font-size: 1.2rem;
              padding-top: 1.5em;
              font-weight: 300;
              border-bottom: 5px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-3{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 280px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #DDEDF2;
            color: #273138;
            padding: 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-4{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 280px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #DDEDF2;
            color: #273138;
            padding: 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .clientes{
    .callout{
      background: none;
      border: none;
    }
    img{
			display: block;
      margin-left: auto;
      margin-right: auto;
      width: 11em;
			height: 11em;
		  filter: grayscale(100%); filter: grayscale(100%);
      &:hover{
        filter: grayscale(0%); filter: grayscale(0%);
  			cursor: pointer;
      }
    }
  }
  .who-we-are{
    .text{
      padding: 1.5em;
      h1{
        text-align: center;
        padding: 1em 0;
        font-size: 2.4rem;
      }
      h3{
        text-align: center;
        font-size: 2em;
      }
      p{
        padding-bottom: 1em;
        text-align: justify;
        font-size: 1.2rem;
      }
    }
  }
}

@mixin home-2 {
  .principal{
    position: relative;
    background-color: #1f2738;
    height: 600px;
    max-height: 600px;
    min-height: 380px;
    text-align: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    .image{
      background-image: url("../img/hero-home-xl.jpg");
      filter: blur(5px);
      height: 600px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .menu-head{
      position: absolute;
      margin: 0;
      width: 100%;
      z-index: 999;
    }
    .container {
      // background-color: rgba(255,255,255,0.1);
      color: white;
      // padding: 1em 15px;

      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      text-align: left;
      position: relative;
      z-index: 2;
      h2{
        font-family: 'Raleway', sans-serif;
        font-size: 3.5em;
      }
    }
  }
  .bienvenida{
    .grid-us{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 350px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #1BCE7C;
            color: white;
            padding: 2em;
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
            }
            span{
              font-size: 1.2rem;
              padding-top: 1.5em;
              font-weight: 300;
              border-bottom: 5px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-2{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 380px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #1BCE7C;
            color: white;
            padding: 2em;
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
            }
            span{
              font-size: 1.2rem;
              padding-top: 1.5em;
              font-weight: 300;
              border-bottom: 5px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-3{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 280px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #DDEDF2;
            color: #273138;
            padding: 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-4{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 280px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #DDEDF2;
            color: #273138;
            padding: 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .clientes{
    .callout{
      background: none;
      border: none;
    }
    img{
			display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10em;
			height: 10em;
		  filter: grayscale(100%); filter: grayscale(100%);
      &:hover{
        filter: grayscale(0%); filter: grayscale(0%);
  			cursor: pointer;
      }
    }
  }
  .who-we-are{
    .text{
      padding: 1.5em;
      h1{
        text-align: center;
        padding: 1em 0;
        font-size: 2.4rem;
      }
      h3{
        text-align: center;
        font-size: 2em;
      }
      p{
        padding-bottom: 1em;
        text-align: justify;
        font-size: 1.2rem;
      }
    }
  }
}

@mixin home-3 {
  .principal{
    position: relative;
    background-color: #1f2738;
    height: 600px;
    max-height: 600px;
    min-height: 380px;
    text-align: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    .image{
      background-image: url("../img/hero-home-xl.jpg");
      filter: blur(5px);
      height: 600px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .menu-head{
      position: absolute;
      margin: 0;
      width: 100%;
      z-index: 999;
    }
    .container {
      // background-color: rgba(255,255,255,0.1);
      color: white;
      // padding: 1em 15px;

      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      text-align: left;
      position: relative;
      z-index: 2;
      h2{
        font-family: 'Raleway', sans-serif;
        font-size: 3.5em;
      }
    }
  }
  .bienvenida{
    .grid-us{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 400px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #1BCE7C;
            color: white;
            padding: 1.2em;
            font-size: 1.8rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
            }
            span{
              font-size: 1.2rem;
              padding-top: 1.5em;
              font-weight: 300;
              border-bottom: 5px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-2{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 450px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #1BCE7C;
            color: white;
            padding: 1.2em;
            font-size: 1.8rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
            }
            span{
              font-size: 1.2rem;
              padding-top: 1.5em;
              font-weight: 300;
              border-bottom: 5px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-3{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 350px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #DDEDF2;
            color: #273138;
            padding: 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .grid-us-4{
      .column{
        padding: 0;
        .callout{
          background: none;
          border: none;
          height: 350px;
          padding: 0;
          margin: 0;
          .text{
            background-color: #DDEDF2;
            color: #273138;
            padding: 4em 2em;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            &:hover{
              background-color: #273138;
              color: white
            }
            span{
              font-size: 1.1rem;
              margin-top: 1.3em;
              font-weight: 200;
              border-bottom: 3px solid white;
            }
          }
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .clientes{
    .callout{
      background: none;
      border: none;
    }
    img{
			display: block;
      margin-left: auto;
      margin-right: auto;
      width: 11em;
			height: 11em;
		  filter: grayscale(100%); filter: grayscale(100%);
      &:hover{
        filter: grayscale(0%); filter: grayscale(0%);
  			cursor: pointer;
      }
    }
  }
  .who-we-are{
    .text{
      padding: 1.5em;
      h1{
        text-align: center;
        padding: 1em 0;
        font-size: 2.4rem;
      }
      h3{
        text-align: center;
        font-size: 2em;
      }
      p{
        padding-bottom: 1em;
        text-align: justify;
        font-size: 1.2rem;
      }
    }
  }
}
