@import "menu";
@import "nosotros";
@import "home";
@import "servicios";
@import "footer";
@import "contacto";

.data-oulet{
  // font-family: 'PT Sans', sans-serif;
  font-family: Open Sans,Trebuchet MS,sans-serif;
  background-color: white;
  background: #ffffff;
}
body{
  height: auto;
}
hr.dotted {
    border-style: dashed;
    margin: 2rem 0;
}
.effect-steve {
	overflow: visible;
	background: #000;
}
.effect-steve p{
	transition: transform 0.35s;
	transform: scale3d(0.9,0.9,1);
}
.effect-steve:hover {
  cursor: pointer;
}
.effect-steve:hover p {
	opacity: 1;
	transform: scale3d(1,1,1);
}
.effect-img img{
  transition: all 0.3s linear;
  transform: scale3d(1, 1, 1);
  transform: perspective(1000px) translate3d(0,0,0);
}
.effect-img:hover img{
  transform: scale3d(1.2, 1.2, 1);
  transform: perspective(1000px) translate3d(0,0,21px);
}
// Small screens
@media only screen {
  @include menu-1;
  @include home-1;
  @include servicios-1;
  @include nosotros-1;
  @include contacto-1;
  @include footer-4;

} /* Define mobile styles */

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/*@media only screen and (max-width: 40em) { } */

// Medium screens
@media only screen and (min-width: 40.063em) {
  body{
    border: 2px solid green;
  }
  @include menu-2;
  @include home-2;
  @include servicios-2;
  @include nosotros-2;
  @include contacto-1;
  @include footer-4;

} /* min-width 641px, medium screens */

 /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/*@media only screen and (min-width: 40.063em) and (max-width: 64em) { }*/

// Large screens
@media only screen and (min-width: 64.063em) {
  body{
    border: 2px solid red;
  }
  @include menu-3;
  @include home-3;
  @include servicios-3;
  @include nosotros-3;
  @include contacto-1;
  @include footer-4;
} /* min-width 1025px, large screens */

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/*@media only screen and (min-width: 64.063em) and (max-width: 90em) { } */

// XLarge screens
@media only screen and (min-width: 90.063em) {
  body{
    border: 2px solid blue;
  }
  @include menu-4;
  @include home-4;
  @include servicios-4;
  @include nosotros-3;
  @include contacto-1;
  @include footer-4;

} /* min-width 1441px, xlarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/*@media only screen and (min-width: 90.063em) and (max-width: 120em) { } */

// XXLarge screens
@media only screen and (min-width: 120.063em) {
  @include menu-4;
  @include home-4;
  @include servicios-4;
  @include nosotros-3;
  @include contacto-1;
  @include footer-4;

} /* min-width 1921px, xxlarge screens */
