<div class="row small-up-2 medium-up-3 foot">
  <div class="medium-4 columns">
    <p class="title">
      <i class="mdi mdi-crosshairs-gps"></i> Contacto
    </p>
    <p class="description">
      Dirección <br>
      Telefono  <br>
      contacto@cerarmich.org
    </p>
  </div>
  <div class="medium-4 columns">
    <p class="description">
      Politicas y Privacidad
    </p>
    <p class="description">
      SoWat® 2016
    </p>
  </div>
  <div class="medium-4 columns">
    <p class="title">
    <i class="mdi mdi-desktop-mac"></i> Encuentranos en:
    </p>
    <!-- <ul class="redes">
      <li><a ui-sref="home"><img src="../app/img/v2/redes/Facebook.png" alt="" /></a></li>
      <li><a ui-sref="nosotros"><img src="../app/img/v2/redes/Twitter.png" alt="" /></a></li>
      <li><a ui-sref="asociados"><img src="../app/img/v2/redes/Instagram.png" alt="" /></a></li>
      <li><a ui-sref="contacto"><img src="../app/img/v2/redes/Pinterest.png" alt="" /></a></li>
      <li><a href="#"><img src="../app/img/v2/redes/Mail.png" alt="" /></a></li>
    </ul> -->
  </div>
</div>
