<div class="expanded row small-up-2 medium-up-3 foot">
  <div class="medium-4 columns">
    <p class="title">
      <i class="mdi mdi-crosshairs-gps"></i> Contacto
    </p>
    <p class="description">
      DIRECCION: 1ra. De Mayo #87 Col. Centro Morelia, Michoacán, México.<br/>
      CORREO: contacto@sowat.com.mx<br/>
      TELEFONO: +52 (044) 4434019025
    </p>
  </div>
  <div class="medium-4 columns">
    <!-- <img src="../app/img/logo.png" class="sombra" alt="img1"/> -->
    <p class="description">
      Politicas y Privacidad
    </p>
    <p class="description">
      SoWat® 2016
    </p>
  </div>
  <div class="medium-4 columns">
    <p class="title">
    <i class="mdi mdi-desktop-mac"></i> Encuentranos en:
    </p>
    <ul class="redes">
      <li><a href="https://www.facebook.com/sowatmx" target="_blank"><img src="../app/img/redes/Facebook.png" alt="" /></a></li>
      <li><a href="#"><img src="../app/img/redes/Twitter.png" alt="" /></a></li>
      <li><a href="#"><img src="../app/img/redes/Instagram.png" alt="" /></a></li>
      <li><a href="#"><img src="../app/img/redes/Pinterest.png" alt="" /></a></li>
      <li><a href="#"><img src="../app/img/redes/Mail.png" alt="" /></a></li>
    </ul>
  </div>
</div>
