<section class="principal">
  <div class="menu-head">
    <app-header></app-header>
  </div>
  <div class="container">
    <h2>Servicios</h2>
  </div>
</section>

<section class="servicios">
  <div class="expanded row">
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Diseño de imagen corporativa</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <div class="row vertical-feature-block">
            <div class="medium-3 large-3 columns">
            <img src="../app/img/img-web/logo-example2.png">
            <h3 class="feature-block-header">Logotipo</h3>
            <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="../app/img/img-web/identidad-corpo.png">
            <h3 class="feature-block-header">Identidad corporativa</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="../app/img/img-web/hoja-membretada.jpg">
            <h3 class="feature-block-header">Hoja membretada</h3>
            <p>You can customize your build to include or remove certain elements, as well as define the size of columns, colors, font size and more.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="../app/img/img-web/tarjetas-de-presentacion.png">
            <h3 class="feature-block-header">Tarjetas de presentación</h3>
            <p>Millions of designers and developers depend on Foundation. We have business support, training and consulting to help grow your product or service.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <div class="row vertical-feature-block">
            <div class="medium-3 large-3 medium-push-3 large-push-3 columns">
            <img src="../app/img/img-web/app-graficas.jpg">
            <h3 class="feature-block-header">Aplicaciones gráficas</h3>
            <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
            </div>
            <div class="medium-3 large-3 medium-pull-3 large-pull-3 columns">
            <img src="../app/img/img-web/registro-narca.png">
            <h3 class="feature-block-header">Registro de marca</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Desarrollo estratégica de marketing</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <div class="row vertical-feature-block">
            <div class="medium-3 large-3 medium-push-3 large-push-3 columns">
            <img src="../app/img/img-web/redes-sociales2.png">
            <h3 class="feature-block-header">Gestión en redes sociales</h3>
            <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
            </div>
            <div class="medium-3 large-3 medium-pull-3 large-pull-3 columns">
            <img src="../app/img/img-web/newsletter.png">
            <h3 class="feature-block-header">Newsletter</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Desarrollo de productos, aplicaciones y servicios</h1>
              <h3>Multiplataforma (Web/Móvil)</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <div class="row vertical-feature-block">
            <div class="medium-3 large-3 columns">
            <img src="http://foundation.zurb.com/assets/img/learn/features/semantic-01.svg">
            <h3 class="feature-block-header">Programación</h3>
            <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="http://foundation.zurb.com/assets/img/learn/features/responsive-01.svg">
            <h3 class="feature-block-header">Multiplataforma</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="http://foundation.zurb.com/assets/img/learn/features/customizable.svg">
            <h3 class="feature-block-header">Servicios</h3>
            <p>You can customize your build to include or remove certain elements, as well as define the size of columns, colors, font size and more.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="http://foundation.zurb.com/assets/img/learn/features/training-01.svg">
            <h3 class="feature-block-header">Profesional</h3>
            <p>Millions of designers and developers depend on Foundation. We have business support, training and consulting to help grow your product or service.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Publicidad</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <div class="row vertical-feature-block">
            <div class="medium-3 large-3 medium-push-1 large-push-1 columns">
            <img src="../app/img/img-web/impresion2.jpg">
            <h3 class="feature-block-header">Diseño de flyers y material gráfico</h3>
            <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
            </div>
            <div class="medium-3 large-3 medium-push-2 large-push-2 columns">
            <img src="../app/img/img-web/camera.png">
            <h3 class="feature-block-header">Sesión y edición fotográfica</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="../app/img/img-web/impresion.png">
            <h3 class="feature-block-header">Impresión de material promocional</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Representación comercial</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <div class="row vertical-feature-block">
            <div class="medium-3 large-3 columns medium-push-1 large-push-1">
            <img src="../app/img/img-web/1f.jpg">
            <h3 class="feature-block-header">Enlaces B2B</h3>
            <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
            </div>
            <div class="medium-3 large-3 columns medium-push-2 large-push-2">
            <img src="../app/img/img-web/mision.png">
            <h3 class="feature-block-header">Misiones comerciales</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
            <div class="medium-3 large-3 columns">
            <img src="../app/img/img-web/eventos.png">
            <h3 class="feature-block-header">Patrocinio en eventos especializados</h3>
            <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</section>
