<section class="principal">
  <div class="menu-head">
    <app-header></app-header>
  </div>
  <div class="container">
    <h2>Servicios</h2>
  </div>
</section>

<section class="servicios">
  <div class="expanded row">
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Diseño de imagen corporativa</h1>
              <p>
                Te ofrecemos el diseño de imagen corporativa fresca, moderna y contundente, que contenga  la esencia de tu empresa.
                <br>
                Poseemos la experiencia, la calidad y la creatividad necesarias para ofrecer a su empresa la personalidad y actitud que requiere en el desenvolvimiento dentro de su nicho de mercado, así como la responsabilidad, seriedad y entrega con cada uno de nuestros clientes para ofrecerles los mejores servicios de imagen.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row vertical-feature-block">
        <div class="medium-4 columns">
          <img src="../app/img/img-web/logo-example2.png">
        </div>
        <div class="medium-8 columns details">
          <div class="row small-up-1 medium-up-2">
            <div class="columns">
            <h3 class="feature-block-header">Logotipo</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Identidad corporativa</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Hoja membretada</h3>
            </div>
            <div class=" columns">
            <h3 class="feature-block-header">Tarjetas de presentación</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Aplicaciones gráficas</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Registro de marca</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Desarrollo estratégica de marketing</h1>
              <p>
                El Marketing estratégico requiere de un análisis permanente de las necesidades del mercado y el desarrollo de productos destinados a unos grupos de compradores específicos. El objetivo es precisar el enfoque hacia el cliente, anticiparse y crear lo que él necesite.
                <br>
                El avance exitoso de un negocio necesita de una metodología estratégica y una buena capacidad organizacional.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row vertical-feature-block">
        <div class="medium-8 columns details">
          <div class="row small-up-1 medium-up-2">
            <div class="columns">
            <h3 class="feature-block-header">Gestión en redes sociales</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Newsletter</h3>
            </div>
          </div>
        </div>
        <div class="medium-4 columns">
          <img src="../app/img/img-web/marketing.png">
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Desarrollo de aplicaciones y servicios tecnológicos</h1>
              <h3>Multiplataforma (Web/Móvil)</h3>
              <p>
                Diseño y desarrollo de soluciones de software en ambientes web para ayudar a nuestros clientes a alcanzar sus objetivos, desarrollando software a medida y herramientas que le permiten mejorar la administración, el control y la evaluación de sus procesos internos y externos en su empresa.
                <br>
                Especializados en las tecnológias más actuales como Angular 2 - NodeJS - Php - HTML5/CSS3 y ES6.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row vertical-feature-block">
        <div class="medium-4 columns">
          <img src="http://foundation.zurb.com/assets/img/learn/features/semantic-01.svg">
        </div>
        <div class="medium-8 columns details">
          <div class="row small-up-1 medium-up-2">
            <div class="columns">
            <h3 class="feature-block-header">Desarrollo Páginas Web</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Desarrollo Plataformas/Sistemas Web</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Desarrollo de Base de Datos</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Servicios REST</h3>
            </div>
            <div class=" columns">
            <h3 class="feature-block-header">Desarrollo de Aplicaciones Móviles</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Configuraciones de Correo</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Soporte Técnico</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Publicidad</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row vertical-feature-block">
        <div class="medium-8 columns details">
          <div class="row small-up-1 medium-up-2">
            <div class="columns">
            <h3 class="feature-block-header">Diseño de flyers y material gráfico</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Sesión y edición fotográfica</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Impresión de material promocional</h3>
            </div>
          </div>
        </div>
        <div class="medium-4 columns">
          <img src="../app/img/img-web/camera.png">
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="large-12 column" style="padding-left: 0.9375rem; padding-right: 0.9375rem;">
        <hr class="dotted">
      </div>
    </div>
    <!--  -->
    <div class="large-12 column">
      <div class="row">
        <div class="large-12 large-centered column">
          <div class="outer">
            <div class="text">
              <h1>Representación comercial</h1>
              <p>
                Si lo que necesita es tener un socio que represente y promocione sus productos o servicios, le ofrecemos el servicio de representación comercial.
                <br>
                Actuando como su oficina comercial, colaborando en el desarrollo del plan de marketing nacional/internacional, promocionando sus productos, participando en el diseño de su política comercial, contactando y visitando clientes potenciales, enviando muestras, ofertas, negociando a su nombre, gestionando pedidos, redactando contratos nacionales/internacionales, etc., hasta el seguimiento de los pagos/cobros nacionales/internacionales.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row vertical-feature-block">
        <div class="medium-4 columns">
          <img src="../app/img/img-web/mision.png">
        </div>
        <div class="medium-8 columns details">
          <div class="row small-up-1 medium-up-2">
            <div class="columns">
            <h3 class="feature-block-header">Enlaces B2B</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Misiones comerciales</h3>
            </div>
            <div class="columns">
            <h3 class="feature-block-header">Patrocinio en eventos especializados</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</section>
