<div class="principal">
  <div class="expanded row">
    <div class="presentacion">
      <img class="show-for-large" src="../app/img/v3/extra/Lay11.jpg" alt="Owl Image">
      <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay11.jpg" alt="Owl Image">
      <img class="show-for-small-only" src="../app/img/v3/small/Lay11.jpg" alt="Owl Image">
    </div>
  </div>
</div>

<div class="contacto">
  <br>
  <div class="row">
    <div class="large-12 columns home">
      <p align="center" class="title">
       Escríbenos ...<i class="mdi mdi-pen"></i>
      </p>
    </div>
  </div>
  <div class="row formulario">
    <div class="small-12 columns">
      <div class="large-12 columns">
        <form novalidate data-abide method="post" accept-charset="utf-8">
          <div class="row">
            <div class="medium-6 columns">
              <label><span><i class="mdi mdi-account"></i> Nombre</span>
                <input type="text" id="nombre" [ngFormControl]="group.find('nombre')" [(ngModel)]="formulario.nombre" placeholder="Juan Colorado">
              </label>
              <ul *ngIf="group.find('nombre').dirty && !group.find('nombre').valid">
                <li *ngIf="group.hasError('required', 'nombre')">Este campo es necesario</li>
                <li *ngIf="group.hasError('textFormat', 'nombre')">Este campo tiene valores no validos o necesita al menos 3 caracteres</li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <label><span><i class="mdi mdi-at"></i> Correo Electronico</span>
                <input type="text" id="email" [ngFormControl]="group.find('email')" [(ngModel)]="formulario.email" placeholder="email@mail.com">
              </label>
              <ul *ngIf="group.find('email').dirty && !group.find('email').valid">
                <li *ngIf="group.hasError('required', 'email')">Este campo es necesario</li>
                <li *ngIf="group.hasError('emailFormat', 'email')">Este campo no contiene un email valido</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <label><span><i class="mdi mdi-beer"></i> Asunto</span>
                <input type="text" id="asunto" [ngFormControl]="group.find('asunto')" [(ngModel)]="formulario.asunto" placeholder="cotización de ..., informe sobre ...">
              </label>
              <ul *ngIf="group.find('asunto').dirty && !group.find('asunto').valid">
                <li *ngIf="group.hasError('required', 'asunto')">Este campo es necesario</li>
                <li *ngIf="group.hasError('textFormat', 'asunto')">Este campo tiene valores no validos o necesita al menos 3 caracteres</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <label><span><i class="mdi mdi-book-open"></i> Mensaje</span>
                <textarea id="mensaje" [ngFormControl]="group.find('mensaje')" [(ngModel)]="formulario.mensaje" rows="8" cols="40" placeholder="algun comentario..."></textarea>
              </label>
              <ul *ngIf="group.find('mensaje').dirty && !group.find('mensaje').valid">
                <li *ngIf="group.hasError('required', 'mensaje')">Este campo es necesario</li>
                <li *ngIf="group.hasError('textFormat', 'mensaje')">Este campo tiene valores no validos o necesita al menos 15 caracteres</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <button (click)="submitForm()" type="submit" class="expanded warning button " name="button">
                <i class="mdi mdi-send"></i> Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br>
