<div class="principal">
  <div class="expanded row">
    <div class="presentacion">
      <img class="show-for-large" src="../app/img/v3/extra/Lay12.jpg" alt="Owl Image">
      <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay12.jpg" alt="Owl Image">
      <img class="show-for-small-only" src="../app/img/v3/small/Lay12.jpg" alt="Owl Image">
    </div>
  </div>
</div>

<div class="expanded row nosotros">
  <div class="row foo">
    <div class="medium-6 columns">
      <img src="../app/img/v2/6.jpg" alt="asociado 1" />
    </div>
    <div class="medium-6 columns">
      <p class="title">
          <i class="mdi mdi-walk"></i> Bienvenida
        </p>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
        </div>
        <p class="description">
          Te damos la más cordial bienvenida a la página oficial de Cerveceros Artesanales de Michoacán A.C. (Cerarmich). En esta página encontrarás toda la información que necesitas para integrarte a nuestra comunidad y gozar de los beneficios de pertenecer a la misma.
          ¿Qué esperas? Has contacto y forma parte de nuestra asociación.
        </p>
    </div>
  </div>
  <br><br>
  <div class="row foo">
    <div class="medium-6 columns">
      <img src="../app/img/v2/8.jpg" alt="asociado 1" />
    </div>
    <div class="medium-6 columns">
      <p class="title">
        <i class="mdi mdi-medium"></i> Misión
      </p>
      <div class="row">
        <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
      </div>
      <p class="description">
        Promover el crecimiento de la cultura en torno a la cerveza artesanal mediante su producción y  consumo responsable. Además del desarrollo y crecimiento constante de los productores de insumos, bienes y servicios relacionados a las actividades de la cerveza artesanal.
      </p>
    </div>
  </div>
  <br><br>
  <div class="row">
      <div class="medium-6 medium-centered columns">
        <p class="title">
          <i class="mdi mdi-lightbulb"></i> Visión
        </p>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
        </div>
        <p class="description">
          Ser una asociación con presencia a nivel nacional en la producción de cerveza artesanal e insumos para su elaboración de calidad, promoviendo la unión y apoyo de todos los cerveceros michoacanos, que fomenten la cultura de consumo responsable y aporte al crecimiento económico y turístico del estado de Michoacán.
        </p>
      </div>
  </div>
  <br><br>
  <div class="row foo">
    <div class="medium-6 columns">
      <img src="../app/img/v2/7.jpg" alt="asociado 1" />
    </div>
    <div class="medium-6 columns">
      <p class="title">
        <i class="mdi mdi-checkbox-marked-circle-outline"></i> Beneficios
      </p>
      <div class="row">
        <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
      </div>
      <p class="descriptions">
    		<i class="mdi mdi-chevron-double-right"></i> Credencial oficial <br/>
    		<i class="mdi mdi-chevron-double-right"></i> Representación comercial<br/>
    		<i class="mdi mdi-chevron-double-right"></i> Representación ante organismos gubernamentales<br/>
    		<i class="mdi mdi-chevron-double-right"></i> Acceso a eventos con precios preferenciales<br/>
    		<i class="mdi mdi-chevron-double-right"></i> Acceso a red de contactos comerciales<br/>
    		<i class="mdi mdi-chevron-double-right"></i> Capacitación continua
      </p>
    </div>
  </div>
</div>
