<section class="principal">
  <div class="menu-head">
    <app-header></app-header>
  </div>
  <div class="container">
    <h2>Nosotros</h2>
  </div>
</section>


<div class="expanded row nosotros">
  <div class="row foo">
    <div class="medium-6 columns">
      <!-- <img src="../app/img/v2/6.jpg" alt="asociado 1" /> -->
    </div>
    <div class="medium-6 columns">
      <p class="title">
          <i class="mdi mdi-walk"></i> Nosotros
        </p>
        <p class="description">
          Somos una empresa 100% mexicana que nace de la necesidad por atender a Pymes nacionales en sus necesidades de desarrollo, promoción y posicionamiento de marca.
          <br><br>
          Nuestros ejes de operación se dividen en 3 áreas específicas:
          <br><br>
          1) Desarrollo y posicionamiento de marca.
          2) Representación comercial y enlaces B2B.
          3) Capacitación y mejora continua.
        </p>
    </div>
  </div>
  <br><br>
  <div class="row foo">
    <div class="medium-6 columns">
      <!-- <img src="../app/img/v2/8.jpg" alt="asociado 1" /> -->
    </div>
    <div class="medium-6 columns">
      <p class="title">
        <i class="mdi mdi-medium"></i> Misión
      </p>
      <p class="description">
        Ofrecer siempre la mejor relación inversión / retribución en cuanto a servicios profesionales de desarrollo de marca a Pymes mexicanas.
      </p>
    </div>
  </div>
  <br><br>
  <div class="row">
      <div class="medium-6 medium-centered columns">
        <p class="title">
          <i class="mdi mdi-lightbulb"></i> Visión
        </p>
        <p class="description">
          Ser la agencia de desarrollo de marcas líder para el sector Pyme nacional, ofreciendo siempre a nuestros clientes una cartera de productos de alta calidad al mejor precio.
        </p>
      </div>
  </div>
  <br><br>
  <div class="row foo">
    <div class="medium-6 columns">
      <!-- <img src="../app/img/v2/7.jpg" alt="asociado 1" /> -->
    </div>
    <div class="medium-6 columns">
      <p class="title">
        <i class="mdi mdi-checkbox-marked-circle-outline"></i> Filosofia
      </p>
      <p class="descriptions">
    		Ser la agencia de desarrollo de marcas líder para el sector Pyme nacional, ofreciendo siempre a nuestros clientes una cartera de productos de alta calidad al mejor precio.
      </p>
    </div>
  </div>
</div>
